<a href="https://colab.research.google.com/github/Danny4life/Background-Generator/blob/master/New_Hamonye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
fuel_data = pd.read_csv('data.csv')

In [ ]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [ ]:
# Check for missing values

pd.isnull(fuel_data).sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [ ]:
# fill in missing fuel_unit missing value with the most common value (mcf)

fuel_data['fuel_unit'] = fuel_data['fuel_unit'].fillna(value='mcf')

In [ ]:
# check if missing value is filled

pd.isnull(fuel_data).sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [ ]:
fuel_data.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [ ]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_type_code_pudl'].count()

fuel_type_code_pudl
coal        8547
gas        11486
nuclear      818
oil         8064
other        167
waste        441
Name: fuel_type_code_pudl, dtype: int64

In [ ]:
fuel_data.groupby('plant_name_ferc1')['plant_name_ferc1'].count()

plant_name_ferc1
(1)sta98                1
(2) scriba sta. 99      1
(n) contra costa        1
(n) pittsburg           1
(n)(t)moss landing      1
                       ..
zimmer- aepgr share     2
zion                    3
zorn                   12
zorn ct                10
zuni                   17
Name: plant_name_ferc1, Length: 2315, dtype: int64

In [ ]:
count = pd.DataFrame(fuel_data.groupby(['plant_name_ferc1', 'fuel_unit'])['fuel_unit']).count()

In [ ]:
count

0    3574
1    3574
dtype: int64

In [ ]:
count_of_diff_fuel_unit = pd.DataFrame(fuel_data.groupby(['fuel_type_code_pudl', 'fuel_unit'])['fuel_unit']).count()

In [ ]:
count_of_diff_fuel_unit

0    25
1    25
dtype: int64

In [ ]:
pd.crosstab(fuel_data['fuel_type_code_pudl'], fuel_data['fuel_unit'])

fuel_unit             bbl  gal  gramsU  kgU    mcf  mmbtu  mwdth  mwhth   ton
fuel_type_code_pudl
coal                    1    0       0    0     56     52      0      0  8438
gas                     2    0       0    0  11386     94      0      0     4
nuclear                 0    0     464  110     15     34     95    100     0
oil                  7952   81       0    0     28      0      0      0     3
other                  42    3       0    0     45      0      0      0    77
waste                   1    0       0    0      4      0      0      0   436

In [ ]:
pd.crosstab(fuel_data['plant_name_ferc1'], fuel_data['fuel_unit'])

fuel_unit            bbl  gal  gramsU  kgU  mcf  mmbtu  mwdth  mwhth  ton
plant_name_ferc1
(1)sta98               0    0       0    0    1      0      0      0    0
(2) scriba sta. 99     0    0       1    0    0      0      0      0    0
(n) contra costa       0    0       0    0    1      0      0      0    0
(n) pittsburg          0    0       0    0    1      0      0      0    0
(n)(t)moss landing     0    0       0    0    1      0      0      0    0
...                  ...  ...     ...  ...  ...    ...    ...    ...  ...
zimmer- aepgr share    1    0       0    0    0      0      0      0    1
zion                   0    0       3    0    0      0      0      0    0
zorn                   0    0       0    0   12      0      0      0    0
zorn ct                0    0       0    0   10      0      0      0    0
zuni                   1    0       0    0   16      0      0      0    0

[2315 rows x 9 columns]

In [ ]:
pd.crosstab(fuel_data['fuel_qty_burned'], fuel_data['plant_name_ferc1'])

plant_name_ferc1,(1)sta98,(2) scriba sta. 99,(n) contra costa,(n) pittsburg,(n)(t)moss landing,(p) mobile unit 2,(p) mobile unit 3,* ar nuclear one,* big cajun 2 unit 3,* campbell 3,...,zimmer - opco share,zimmer -csp share,zimmer cge,zimmer csp shr,zimmer deo,zimmer- aepgr share,zion,zorn,zorn ct,zuni
fuel_qty_burned,,,,,,,,,,,,,,,,,,,,,
1.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147837343.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166385450.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198577395.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
417297683.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
555894250.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
count_of_diff_fuel_unit = pd.DataFrame(fuel_data.groupby(['fuel_qty_burned', 'plant_name_ferc1'])['plant_name_ferc1']).count()

In [ ]:
count_of_diff_fuel_unit

0    29258
1    29258
dtype: int64

In [ ]:
count_of_diff_fuel_burned = pd.DataFrame(fuel_data.groupby(['plant_name_ferc1', 'fuel_qty_burned'])['fuel_qty_burned']).count()

In [ ]:
count_of_diff_fuel_burned

0    29258
1    29258
dtype: int64